<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #p1{
            font-size: 25px;background-color: green(160, 203, 230);color: darkblue;
        }
        #p2{
            font-size: 30px;color: black;
        }
        #p3{
            font-size: 25px;color: black;
        }

    </style>
</head>
<body>
    
    <center> 
        <p id="p1" class="f1">-----GOOD MORNING,EVERYONE------- </p>
        <br>
        <p id="p2" class="f2"> Hello , I am Rishika R Patil .</p>
        <p id="p3" class="f3"> I am from Davangere, Karnataka.</p>
        <p id="f4" class="f4">Currently ,I am persuing Computer Science Engineering from NIE,I am now studying in 2nd year </p>
        <p id="p4" class="f4">I completed my school in Sri Taralabalu Central School,Davangere.</p>
        <p id="p5" class="f5"> And I completed my PU in Dr.Thimmareddy PU College. </p>
        <img src="PP.jpg.png">
        <hr>
        
        <button type="button" class="btn btn-info">Contact</button>
        <br>
        <br>
        <button type="button" class="btn btn-info">View More</button>
    </center>
   
   
</body>
</html>